*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #fff;
}
.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background-color:transparent;
    font-size: 20px;
}
.wrapper {
    height: 100vh;
    background-image:url(../img/bg1.jpg);
    background-size: cover;
    background-position: top;
    position: relative; 
}
.text-box {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
}
.heading-primary {
 color: #fff;

 backface-visibility: hidden;
}
.heading-primary-mini{
 display: block;
 text-align: center;
 font-size: 24px;
 font-weight: 100;
 letter-spacing: 3;
 line-height:15px ;
}
.heading-primary-main {
 display: block ;
 font-size: 40px;
 font-weight: 200;
 letter-spacing: 5px;
 line-height: 70px;
 animation-name: moveInLeft;
 animation-duration: 1s;
 animation-timing-function: ease-out;
}
.heading-primary-sub{
 display: block;
 text-align: center;
 font-size: 12px;
 font-weight:100;
 letter-spacing: 3px;
 line-height:18px ; 
 animation-name: moveInRight; 
 animation-duration: 1s;
 animation-timing-function: ease-out;
}
@keyframes moveInLeft {
    0% {
         opacity: 0;
         transform: translateX(-100px);
    }
    80% {
            transform: translateX(10px);
    }
    100% {
           opacity: 1;
           transform: translate(0);
    }
}
@keyframes moveInRight {
    0% {
         opacity: 0;
         transform: translateX(100px);
    }
    80% {
            transform: translateX(-10px);
    }
    100% {
           opacity: 1;
           transform: translate(0);
    }
}
.btn:link,
.btn:visited {
     text-decoration: none; 
     padding: 5px 10px; 
     display: inline-block;     
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.btn-primary {
    color: #fff;
}
.card{
    border: none;
    font-size: 15px;
    height: 0 auto;
}
.card-title{
    font-size: 17px;
    text-align: center;
    width: auto;
    color: rgba(21, 9, 187, 0.993);
    animation-name: moveInLeft; 
    animation-duration: 1s;
    animation-timing-function: ease-in;
}
.card-img-top{
   width:90px ;
   margin:5px auto ;
   animation-name: moveInRight; 
   animation-duration: 2s;
   animation-timing-function: ease-in-out;
}
.card-text{
    color: #333;
    width: auto;
    animation-name: moveInRight; 
    animation-duration: 1s;
   animation-timing-function: ease-out;
}
.dept {
    background-color: rgb(232, 236, 238);
    text-align: center;
    color: #202020;
    animation-name: moveInRight; 
   animation-duration: 1s;
   animation-timing-function: ease-in;
}
.dept-text {
    color: #585858;
}
.parts{
    background-color: rgb(232, 236, 238); 
}
 .depts {
     border: black;
    border-radius: 1px solid #333;
 }
.depts:hover{
    background: rgb(65,105,225);
    color: #333;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}
.depts:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.change:hover {
    color: black;
    font-size: 20px;
    font-weight: 200px;
    font-style: italic;
}
.services{
    text-align: center;
    color: #333;
    animation-name: moveInRight; 
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}
.box {
    border: 1px solid rgb(65,105,225);
    border-radius: 10px;
    color: #333;
    text-align: left;
    padding: 25px;
    animation-name: moveInLeft; 
    animation-duration: 2s;
    animation-timing-function: ease-in;
    
}
li.check {
     list-style: none;
}
li.check:not(:last-child){
    margin-bottom: 10px;
}
li.check::before {
    content: "\2611";
    padding: 4px;
}
.box-title{
    color: rgba(21, 9, 187, 0.993);
    animation-name: moveInRight; 
    animation-duration: 3s;
    animation-timing-function: ease-out;
}
.box-img{
    width:90px ;
    margin:5px auto ;
    animation-name: moveInleftt; 
    animation-duration: 6s;
    animation-timing-function: ease-in;
 }
.box:hover{
    background: rgb(65,105,225);
    color: #333;
    transform: translateY(-3px);
}
.box:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.card-img {
    position: relative;
    left: 750px;
    width: 350px;
    animation-name: moveInleftt; 
    animation-duration: 6s;
    animation-timing-function: ease-in;
}
.btn1 {
    width: 360px;
    border: 1px solid rgb(65,105,225);
    border-radius: 10px;
    color: rgba(21, 9, 187, 0.993);
}
.short-text {
    width: 260px;
    padding: 5px;
    line-height: 15px;
    color: #333;
    font-size: 12px ;
}
















































